@font-face {
  font-family: 'savedbyzero';
  src: url('../fonts/savedbyzerorg.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'orbitron';
  src: url('../fonts/orbitron-black-webfont.eot');
  src: url('../fonts/orbitron-black-webfont.eot') format('embedded-opentype'), url('../fonts/orbitron-black-webfont.woff') format('woff'), url('../fonts/orbitron-black-webfont.ttf') format('truetype'), url('../fonts/orbitron-black-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.title-center {
  top: -150px;
  left: -200px;
  position: absolute; 
}

.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

.switch {
  margin-right: 20px;
}

#navbar-full .navbar {
  border-radius: 0 !important;
  margin-bottom: 15px;
  z-index: 2;
}

#menu-dropdown .navbar {
  border-radius: 3px;
}

#pagination-row .pagination-container {
  height: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
}

#icons-row i.now-ui-icons {
  font-size: 30px;
}

.space {
  height: 130px;
  display: block;
}

.space-110 {
  height: 110px;
  display: block;
}

.space-50 {
  height: 50px;
  display: block;
}

.space-70 {
  height: 70px;
  display: block;
}

.navigation-example .img-src {
  background-attachment: scroll;
}

.navigation-example {
  background-position: center center;
  background-size: cover;
  margin-top: 0;
  min-height: 740px;
  height: 100%;
}

#notifications {
  display: block;
  width: 100%;
  position: relative;
}

.tim-note {
  text-transform: capitalize;
}

#buttons .btn,
#javascriptComponents .btn {
  margin: 0 0px 10px;
}

.space-100 {
  height: 100px;
  display: block;
  width: 100%;
}

.be-social {
  padding-bottom: 20px;
  /*     border-bottom: 1px solid #aaa; */
  margin: 0 auto 40px;
}

.txt-white {
  color: #FFFFFF;
}

.txt-gray {
  color: #ddd !important;
}

.parallax {
  width: 100%;
  height: 570px;
  display: block;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding: 1%;
}

.flex-container > div {  
  margin: 10px;
  padding: 20px;  
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
}

.flex-item-right { 
  padding: 10px;
  flex: 50%;
}


.logo-container .logo {
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #333333;
  width: 50px;
  float: left;
}

.logo-container .brand {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 18px;
  float: left;
  margin-left: 10px;
  margin-top: 7px;
  width: 70px;
  height: 40px;
  text-align: left;
}

.logo-container .brand-material {
  font-size: 18px;
  margin-top: 15px;
  height: 25px;
  width: auto;
}

.logo-container .logo img {
  width: 100%;
}

.navbar-small .logo-container .brand {
  color: #333333;
}

.fixed-section {
  top: 90px;
  max-height: 80vh;
  overflow: scroll;
  position: sticky;
}

.fixed-section ul {
  padding: 0;
}

.fixed-section ul li {
  list-style: none;
}

.fixed-section li a {
  font-size: 14px;
  padding: 2px;
  display: block;
  color: #666666;
}

.fixed-section li a.active {
  color: #00bbff;
}

.fixed-section.float {
  position: fixed;
  top: 100px;
  width: 200px;
  margin-top: 0;
}

.parallax .parallax-image {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.parallax .parallax-image img {
  width: 100%;
}

#video {
  width:560px;
  height:315px;
}

.gplay {
  color: #aaa;
  padding: 20px;
  margin: 20px;
  border: 0.5rem solid;
  box-shadow: 5px 10px 8px #464646;
}

.elevation {
  margin-top: 20px;
}

.elv {
  padding: 20px;
}

.iframecontainer-dim {
  position: relative;
  overflow: hidden;
  width: 100%;
  
}

.iframecontainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframefetch {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 450px;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}


.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

#sketch-holder-dim {
  margin-top: 10px;
  margin-left: 0;
  padding-left: 5%;
}

#sketch-holder {
  margin-top: 50px;
  margin-left: 0;
  padding-left: 15%;
}

@media (max-width: 768px) {
  .parallax .parallax-image {
    width: 100%;
    height: 640px;
    overflow: hidden;
  }
  .parallax .parallax-image img {
    height: 100%;
    width: auto;
  }

  #sketch-holder {
    margin-top: 50px;
    margin-left: 0;
  }
}

/*.separator{
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}
.separator-line{
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}
.separator.separator-gray{
    background-color: #EEEEEE;
}*/

.social-buttons-demo .btn {
  margin-right: 5px;
  margin-bottom: 7px;
}

.img-container {
  width: 100%;
  overflow: hidden;
}

.img-container img {
  width: 100%;
}

.lightbox img {
  width: 100%;
}

.lightbox .modal-content {
  overflow: hidden;
}

.lightbox .modal-body {
  padding: 0;
}

#wrt {
  padding-top: 50px;
  background-color: #e14ecb30;
}

#sound {
  padding-top: 50px;
  color: #344675;
  background-color: #00e1ff;
}

.fcolor {
  color: #344675;
}

#colors {
  margin-top: 5px;
  padding-top: 50px;
  background-color: #e14eca80;
}

.zoom {
  padding: 50px;  
  transition: transform .2s; /* Animation */
  width: 100%;
  margin: 0 auto;  
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.adrenocoin {
  padding-top: 50px;
}

@media screen and (min-width: 991px) {
  .lightbox .modal-dialog {
    width: 960px;
  }
}

@media (max-width: 991px) {
  .fixed-section.affix {
    position: relative;
    margin-bottom: 100px;
  }

  .flex-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .btn,
  .btn-morphing {
    margin-bottom: 10px;
  }
  .parallax .motto {
    top: 170px;
    margin-top: 0;
    font-size: 60px;
    width: 270px;
  }
}

/*       Loading dots  */

/*      transitions */

.presentation .front,
.presentation .front:after,
.presentation .front .btn,
.logo-container .logo,
.logo-container .brand {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

#images h4 {
  margin-bottom: 30px;
}

#javascriptComponents {
  padding-bottom: 0;
}

/*      layer animation          */

.layers-container {
  display: block;
  margin-top: 50px;
  position: relative;
}

.layers-container img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  text-align: center;
}

.animate {
  transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand {
  color: #333333;
}

.navbar-transparent.navbar-small .logo-container .brand {
  color: #FFFFFF;
}

.navbar-default.navbar-small .logo-container .brand {
  color: #333333;
}

.sharing-area {
  margin-top: 80px;
}

.sharing-area .btn {
  margin: 15px 4px 0;
}

.section-thin,
.section-notifications {
  padding: 0;
}

/*.section-navbars{
    padding-top: 0;
}*/

#navbar .navbar {
  margin-bottom: 20px;
  z-index: 1 !important;
}

#navbar .navbar-toggler,
#menu-dropdown .navbar-toggler {
  pointer-events: none;
}

.section-pagination {
  padding-bottom: 0;
}

.section-pagination .pagination:last-of-type {
  margin-bottom: 7px;
}

.section-download {
  padding-top: 1px;
}

.section-download .description {
  margin-bottom: 60px;
}

.section-download h4 {
  margin-bottom: 25px;
}

.section-examples a {
  text-decoration: none;
}

.section-examples a+a {
  margin-top: 30px;
}

.section-examples h5 {
  margin-top: 30px;
}

.components-page .wrapper>.header,
.tutorial-page .wrapper>.header {
  height: 500px;
  padding-top: 128px;
  background-size: cover;
  background-position: center center;
}

.components-page .title,
.tutorial-page .title {
  color: #FFFFFF;
}

.brand {
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 300;
}

.youtube {
  padding-top: 20px;
}

#video {
  width:560; 
  height:315;
}

.sub-ai {
  margin-top: 5%;
}

@keyframes adrenoanim {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-2px, -2px);
  }

  20% {
    transform: translate(2px, -2px);
  }

  30% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, 2px);
  }

  50% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, -2px);
  }

  70% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(-2px, -2px);
  }

  90% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

#title {
  animation: adrenoanim 2s ease 0s 1 alternate forwards;
  color: #FFFFFF;
text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
color: #FFFFFF;
}

@keyframes adrenoanim1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

#metaplex {
  animation: adrenoanim1 2s ease 0s 1 alternate forwards;
}

@media screen and (min-width: 320px) {
  .h1-seo {
    font-size: calc(30px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (max-width: 420px) {

  p {
    font-size: 80%;
  }

  h2 {
    font-size: 95%;
  }

  h3 {
    font-size: 95%;
  }
 
  #metaplex {
    font-size: 20%;
  }

  #emo {
    font-size: 20%;
  }

  .navbar .navbar-brand {
    margin-left: 0;
    font-size: 75%;
  }

  .zoom {
    padding: 0;  
    width: 50%;
    margin: 0 auto 10px 0;  
  }
  
  .zoom:hover {
    transform: scale(0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  

  .text-center {
    font-size: 100%;
  }

  .title {
    font-size: 100%;
  }

  .youtube {
    padding: 10px;
  }

  #video {
    width:90%;
    height:90%;    
  }
}

@media screen and (min-width: 1000px) {
  .h1-seo {    
    font-size: 1.5em;
  }
}

.brand .n-logo {
  max-width: 100px;
  margin-bottom: 40px;
}

.invision-logo {
  max-width: 70px;
  top: -2px;
  position: relative;
}

.creative-tim-logo {
  max-width: 140px;
  top: -2px;
  position: relative;
}

.section-javascript .title {
  margin-bottom: 0;
}

.navbar .switch-background {
  display: block;
}

.navbar-transparent .switch-background {
  display: none;
}

.section-signup .col .btn {
  margin-top: 30px;
}

#buttons-row .btn {
  margin-bottom: 10px;
}

.section-images {
  padding-bottom: 0;
}

#app{
  display: none;
  margin-top: 10px;
  height: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  color: #424242;
}
.form_element{
  margin-top: 20px;
}
.titlenft{
  color: #fff;
  margin-top: 10px;
}
#success_message{
  background-color: #c4ffc4;
  border: 1px solid #0fcf0f;
  border-radius: 4px;
  display: none;
}

.adreno {
  margin: 1%;
}

.triangle{
	width: 0;
	height: 0;
	border-width: 50px 0 50px 60px;
	border-color: transparent transparent transparent #EA4A6B;
	border-style: solid;
	filter: drop-shadow(5px 5px 1px #A3A3A3);
}

#block_container
{
    margin-top: 50px;
    text-align:center;
}
#bloc1, #bloc2
{
    margin: 5px;
    display:inline;
}

@media screen and (max-width: 991px) {
  .section-navbars .navbar-collapse {
    display: none !important;
  }
  .title-center {
    top: -150px;
    left: 0;
    position: absolute;  
  }

  #sketch-holder {
    margin-top: 0;
    margin-left: -22%;
  }
}

@media screen and (max-width: 576px) {
  .typography-line span {
    width: 70px;
    margin-left: 5px;
  }  
  .title-center {
    top: -50px;
    left: -60px;
    position: absolute;  
  }
}

.offline-doc .page-header:before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
  background: rgba(0, 0, 0, .5);
}

.isometric-card {
  margin: 0 auto;
  transform: rotateX(51deg) rotateZ(43deg);
  transform-style: preserve-3d;
  background-color: #EA4A6B;
  will-change: transform;
  width: 240px;
  height: 320px;
  border-radius: 2rem;
  box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition: 0.4s ease-in-out transform, 0.3s ease-in-out box-shadow;
}

.isometric-card:hover {
  transform: translate3d(0px, -16px, 0px) rotateX(51deg) rotateZ(43deg);
  box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    54px 54px 28px -10px rgba(34, 33, 81, 0.15);
}

